.profile-section{
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    font-size: larger;

    .background-img{
        margin-left: 40px;
        margin-top: 30px;
        width: 150px;
        height: 150px;
        border-radius: 100%;
        // position: absolute;
        background-position: center;
        background-size: cover;
    }
    .about{
        width: 60%;
        p{
            font-size: larger;
        }
        ul{
            list-style-type: none;
            padding: 0;
            margin: 0;
        }
    }
}