.posts{
    display: flex;
    width: 130%;
    .post{
        width: 60%;
        color: white;
        border-radius: 2px;
        
        padding: 1%;
        margin: 4% 2%;
        background-color: #E15FED;
    }
}